
div
    .modal-footer._footer
        .container
            .row
                .col-sm-6.col-md-6
                    h4 公司情况
                    ul.list-unstyled
                        li
                            a(href='http://' + '#{loginHost}') 关于公司
                .col-sm-6.col-md-6
                    h4 询问咨询
                    ul.list-unstyled
                        li
                            a(href='http://newengine.xuezuowang.com/NKTOForMyDemo/MyNTKODemo/posetup.exe') office插件