extends layout

block content
  script(type="text/javascript").
    window.parent.openFile.setData(decodeURIComponent('%253CmxGraphModel%2520dx%253D%2522299%2522%2520dy%253D%2522650%2522%2520grid%253D%25221%2522%2520gridSize%253D%252210%2522%2520guides%253D%25221%2522%2520tooltips%253D%25221%2522%2520connect%253D%25221%2522%2520fold%253D%25221%2522%2520page%253D%25221%2522%2520pageScale%253D%25221%2522%2520pageWidth%253D%2522826%2522%2520pageHeight%253D%25221169%2522%253E%253Croot%253E%253CmxCell%2520id%253D%25220%2522%252F%253E%253CmxCell%2520id%253D%25221%2522%2520parent%253D%25220%2522%252F%253E%253CmxCell%2520id%253D%25222%2522%2520value%253D%2522%2522%2520style%253D%2522whiteSpace%253Dwrap%253Bhtml%253D1%253B%2522%2520vertex%253D%25221%2522%2520parent%253D%25221%2522%253E%253CmxGeometry%2520x%253D%2522210%2522%2520y%253D%2522110%2522%2520width%253D%2522120%2522%2520height%253D%252260%2522%2520as%253D%2522geometry%2522%252F%253E%253C%252FmxCell%253E%253C%252Froot%253E%253C%252FmxGraphModel%253E'), 'text.xml');
