doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Search Materials
        script(type="text/javascript", src="../app_3th_js/jquery/jquery.min.js")
        script(type="text/javascript", src="../app_ui_question/underscore.js")
        script(type="text/javascript", src="../app_ui_question/backbone.js")
        script(type="text/javascript", src="../app_ui_question/backbone.localStorage.js")
        link(rel="stylesheet", href="../styles/bootstrap.min.css")
        script(type="text/javascript", src="../app_ui_question/bootstrap.min.js")
        style.
            .toUser, .showFile, .deleteFile, .myPage{
                cursor: pointer;
            }
    body
        script(type="text/javascript", src="../app_ui_question/material/materialModel.js")
        script(type="text/javascript", src="../app_ui_question/material/pageView.js")
        script(type="text/javascript", src="../app_ui_question/material/searchMaterials.js")
